<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3497.1841" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.3497.1841" targetFramework="net452" />
  <package id="CefSharp.Common" version="69.0.0" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="69.0.0" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Geared" version="1.2.9" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net461" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net461" />
</packages>